* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-size: 1em;
  font-family: verdana;
}

/* header */
.header-container {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  margin: 0 0 30px 0;
}

/* board */
.row {
  display: flex;
  justify-content: center;
}

.row > h3 {
  display: block;
  width: 200px;
  height: 30px;
  /* fix eventually to remove top margin (8px) */
  margin: 40px 8px 8px 8px;
  padding: 2px;
}

.row > div {
  display: block;
  width: 200px;
  height: 60px;
  border: 2px solid black;
  border-radius: 8px;
  margin: 8px;
  line-height: 60px;
  /* font-weight: bold;
  font-size: 1em; */
}

/* search form */
.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 400px;
  padding-top: 25px;
}

.search-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 100%;
  background-color: white;
  padding: 9px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-right: 2px;
}

input {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  margin-left: 10px;
}

input:focus {
  outline: none;
}

.search-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

/* search results */
.search-results {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 2px;
  max-height: 250px;
  overflow-y: auto;
}

.search-results:empty {
  border: none;
}

.search-result {
  padding: 3px 10px;
}

.search-result:hover {
  background-color: #efefef;
  cursor: pointer;
}
