@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', verdana;
}

body {
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
}

/* header */
.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 4px;
}

.header-title {
  position: absolute;
  text-align: center;
}

.header-icons {
  margin-left: auto;
  display: flex;
  gap: 8px;
}

/* stock chart container */
.stock-chart {
  width: 60%;
  height: 40%;
  margin: 8px auto;
}

/* FIX: FIX BOARD CSS */
.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row > h3 {
  display: block;
  width: 150px;
  height: 30px;
  margin: 1px 4px 0px 4px;
  padding: 2px;
  font-size: 1.1em;
  overflow: hidden;
  text-align: center;
}

.row > h3 > .row-name {
  width: 400px;
}

.row > h3 > .row-sector {
  width: 250px;
}

.row > div {
  display: block;
  width: 150px;
  height: 45px;
  border: 2px solid;
  border-radius: 8px;
  margin: 1px 4px 2px 4px;
  line-height: 45px;
  font-weight: bold;
  font-size: 1.1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.entry {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.row > .row-name {
  width: 400px;
}

.row > .row-sector {
  width: 250px;
}

/* search container */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* modal container */
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.modal-content {
  padding: 0 20px 20px 20px;
}

.modal-stats {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.modal-stat {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 15px;
}
