@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-size: 1em;
  font-family: 'Roboto', verdana;
}

/* header */
.header-container {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  margin: 0 0 30px 0;
}

/* board */
.row {
  display: flex;
  justify-content: center;
}

.row > h3 {
  display: block;
  width: 200px;
  height: 30px;
  /* fix eventually to remove top margin (8px) */
  margin: 40px 8px 8px 8px;
  padding: 2px;
}

.row > div {
  display: block;
  width: 200px;
  height: 60px;
  border: 2px solid black;
  border-radius: 8px;
  margin: 8px;
  line-height: 60px;
  /* font-weight: bold;
  font-size: 1em; */
}

/* search form */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
